*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
/* body{
    display:grid;
    grid-template-areas: "A ""A"
                         "B ""B"
    
    ;
} */
.header{
    grid-area: A;
}
.main{
    grid-area: B;
}/* 
.divC{
    grid-area: C;
}
.divD{
    grid-area: D;
}
.divE{
   
    grid-area: E;
} */
.header{
    display:flex;
    justify-content: space-between;
    color:azure;
    border-bottom: 1px solid darkgrey;
    font-family: monospace;
    background-color:#152238;
    padding: 0px 20px;
   
  };
  /*add js header style*/
  .fixed{
    position: fixed;
  }
.ul li{
    display:inline-block;
    margin-top: 20px;
    padding-inline-start: 40px;
}
.ul li a{
    text-decoration: none;
    color:yellow;
}
.ul li a:hover{
    text-decoration: none;
    color:yellowgreen;
}
#burger{
    display:none;
}
.body{
    position: relative;
    height: auto;
}
/*preloader style*/
.preloader{
    color:darkblue;
    display: flex;
    position: absolute;
    left:0px;
    top:0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: lightblue;
}
.preload_container{
display: flex;   
width: 100px;
margin: auto;
margin-top: 200px;
}
.preload{
    width: 10px;
    height: 10px;
    margin: 0px 10px;
    transform: scale(0.5);
    border: 1px solid seagreen;
    
}

.scale1{
    background-color: yellowgreen;
    animation: changescale 0.9s ease-in forwards infinite;
    
}
@keyframes changescale {
    0% {transform: scale(0.5)};
    50%{transform: rotate(1);}
    100% {transform: scale(1.5)};
}
.scale2{
    background-color: #fae9a4;
    animation: changescale2 0.7s ease-in forwards infinite;
    
}
@keyframes changescale2 {
    0% {transform: scale(0.5)};
    50%{transform: rotate(1);}
    100% {transform: scale(1.5)};
}
.scale3{
    background-color: #fae9a4;
    animation: changescale3 0.5s ease-in forwards infinite;
    
}
@keyframes changescale3 {
    0% {transform: scale(0.5)};
    50%{transform: rotate(1);}
    100% {transform: scale(1.5)};
}
/*main container style*/
.main{
    position:relative;
    top:0px;
    left: 0px;
    width: 100%;
    height: auto;
    background-color: azure;
    
}
.container{
    position: relative;
    height: 300px;

}
/*bg img styles*/
.bg-images img{
    width:100%;
    height: 300px;
    filter: brightness(40%);
}
.write_up{
    position:absolute;
    top:70px;
    left: 15%;
    display: block;
    width: 70%;
    text-align: center;
    color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     
}
.write_up p{
    padding: 15px 0px;
    width: 60%;
    margin: auto;
}
.scroll_btn{
    margin: 10px 0px;
    padding: 2px 5px;
    background-color: transparent;
    color: azure;
    border: solid 3px azure;
}
.section{
    background-color: rgb(49, 27, 49);
    position: relative;
    height:auto;
}
.section h1{
    color:azure;
    text-align: center;
}
.section span{
    color:darkblue;
}
/*about style*/
.about{
    background-color:rgb(232, 238, 240);
    padding: 30px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    margin-top: -30px;
    width: 80%;
    left: 120px;

   
}
.about h1{
    color: black;
    font-size: 15px;
}
.abt_p{
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 20px 0px;
    color:grey;
}
.about_img{
    display: flex;
    justify-content: space-around;
}
.display_images{
    width:200px;
    border: 1px solid azure;
    text-align: center;
    border-radius: 20px;
    background-color: azure;
    padding: 15px;
}
.display_images p{
    padding: 10px 0px;
    font-size: 10px;
}
.display_images img{
    width:80px;
    height: 80px;
    padding-bottom: 20px;
    
}
/*features style*/
.features{
    background-color: azure;
    border-top:.5px solid gray ;
    padding-top: 50px;

}
.features h1{
    color:black;
    font-size: 18px;
}
.features_img{
    display:flex;
    justify-content:space-between ;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
.show_images{
    width:200px;
    border: 1px solid azure;
    text-align: center;
    border-radius: 20px;
    background-color: azure;
    padding: 15px;
}
.show_images img{
    padding: 20px;
}
.show_images p{
    padding: 10px 0px;
    font-size: 10px;
    color: grey;
}
/*footer style*/
.footer{
    background-color: rgb(29, 28, 28);
    padding:10px  ;
    color: azure;
    font-size: 18px;
    
}
.footer h6{
    text-align: center;
}
.top_btn{
    background-color: #AA336A;
    color: azure;
    border: 2px solid azure;
    padding: 2px;
    animation: top 1s ease-in forwards infinite;
}
.top_btn a{
    color:azure;
    text-decoration: none;
}
.top_btn a:hover{
    color:#AA336A;
    background-color: azure;
    text-decoration: none;
}
@keyframes top {
    0% {transform: scale(1.5)};
    100% {transform: scale(10)};
}
  /* LOG IN PAGE*/
  
  /* .login_body{
    display:grid;
    grid-template-areas: "header header"
                         "main main"
                         "footer footer";
  }
.login_main{
  grid-area: main;
} */

.login_body{
    height: auto;
}

  .login_main{
    height:80vh ;
    background-color:#152238;
  }

  .login_container{
    width: 300px;
    height: 300px;
    border:solid 1px grey;
    border-radius:20px;
    box-shadow: 5px 5px 5px black;
    margin: auto;
    margin-top: 20px;
    background-color: azure;
    
  }
  .login_intro{
    color: azure;
  font-family: 'Courier New', Courier, monospace;
  width:200px;
  margin: auto;
  padding-top: 20px;
  
  }
  .login_form{
      height:100%;
      text-align: center;
      border-radius:20px;
      
  }
  .user {
      border-bottom: 1px solid black;
      padding: 20px 0px;
      font-family: 'Courier New', Courier, monospace;
  }
  .user h2{
      color:black;
  }
  .user h5{
    color:grey;
}
.login_input{
margin-top: 10px;
}
 .input{
    width:80%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}
.submit{
    margin-top: 10px;
    color:azure;
    background-color: #1c173e;
    padding: 10px;
    border: 1px solid azure;
    border-radius: 5px;
    width:100px;
}

/* CONTACT PAGE*/
/* .contact_body{
    display:grid;
    grid-template-areas: "header"
                         "contact_main"
                         "footer";
  }
 
  .contact_main{
    grid-area: contact_main;
  } */
  .contact_body{
    background-color: #152238;
    height: auto;
  }
 .contact_main{
   height:80vh;
   width:100%;
   background-color: #152238;  
 }
 
 .contact_container{
   width: 300px;
    height: 350px;
   border:solid 1px grey;
   border-radius:20px;
   box-shadow: 5px 5px 5px black; 
   padding: 20px 10px;
   font-family: 'Courier New', Courier, monospace;
   margin: auto;
   background-color: azure;
   margin-top:10px ;
   transform: scale(.8);
 }
 .con_intro{
    color: azure;
  font-family: 'Courier New', Courier, monospace;
  width: 250px;
  margin: auto;
  padding-top: 10px;
  }
 .contact_input{
   display: flex;
 }
 .contact_input .name {
   width: 20%;
   border-right: 1px solid black;
   color: black;
   margin-left: 10px;
 }
 .name h4{
   border-bottom: solid 1px black;
   width: 60px;
   line-height: 50px;
   
 }
 .contact_input .contact_input_div{
 width: 70%;
 padding-left: 10px;
 }
 .contact_input_div input{
   font-size: 15px;
   padding: 5px;
   border-radius: 10px;
   margin-top: 15px;
   width: 100%;
   font-family: 'Courier New', Courier, monospace;
 }
 .contact_form{
     height:100%;
 }
 .contact{
   border-bottom: 1px solid black;
   padding: 10px 0px;
 }
 .contact h5{
 color:black;
 text-align: center;
 font-size: 20px;
 } 
 #comment{
   height: 100px;
   width: 100%;
   margin-top: 30px;
   border-radius: 10px;
   padding: 10px;
 }
 .contact_submit{
   color:azure;
   background-color: #1c173e;
   padding: 10px;
   border: 1px solid azure;
   border-radius: 5px;
   margin: auto;
   display: block;
   margin-top: 5px;
 }
 /*REGISTER PAGE*/
 /* .register_body{
    display:grid;
    grid-template-areas: "header"
                     "register_main"
                       "footer";
  }
  .register_main{
  grid-area: register_main;
  } */
  .register_main{
      height:120vh;
      width:100vw;
      background-color: #152238;
    }
    .register_intro{
      color:azure;
      width: 350px;
      text-align: center;
      margin: auto;
      padding-top: 20px;
      
    }
  .register_container{
    border:solid azure;
    border-radius: 7px;
    box-shadow: 5px 5px 5px black;
    width: 350px;
    margin: auto;
    background-color: azure;
    padding: 10px;
    margin-top: -35px;
    transform: scale(.8);
    
  }
  .register_input{
    display: flex;
    justify-content: center;
  }
  .reg_input{
  width: 60%;
  border-left: 1px solid black ;
  margin-left: 15px;
  padding-left: 10px;
  }
  .reg_input input,.select{
   border-radius: 7px;
   width: 100%;
   font-size: 15px;
   padding: 7px;
   font-family: 'Courier New', Courier, monospace;
   color:black;
   margin-top: 10px;
  }
  .reg_name{
    color: black;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    width: 40%;
    
  }
  .reg_name h4{
   border-bottom: 1px solid black;
    line-height: 45px;
    
  }
  .register{
   text-align: center;
   color: black;
    padding: 20px;
    border-bottom: 1px solid black
  }
  .reg_submit{ 
    color:azure;
    background-color: #1c173e;
    padding: 10px;
    border: 1px solid azure;
    border-radius: 5px;
    width:100px;
    margin: auto;
    display:block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  






























 















  @media only screen and (max-width: 600px){
.header{
    flex-direction: column;
    padding: 10px 0px 0px 0px;
    position: relative;
}
.ul li{
    display: block;
    padding-inline-start: 0px;
    padding-left: 5px;
    text-align: center;
    
}
.ul{
    background-color: azure;
    width: 25%;
    position: absolute;
    left:-100%;
    top:10px;
    border-right: 1px solid seagreen;
    transition: .9s ease-in;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid seagreen;
    z-index: 10000000000;
}
/*  js code toggle*/
.show{
    left:0;
}
.ul li a{
    color:#152238;
    width: 100%;
}
.ul li a:hover{
    color:yellowgreen;
    background-color: #152238;
    padding-left: 10px;
    /* transition: .4s ease-in-out; */
}
#burger{
    display:block;
}
.heading{
    display:flex;
    justify-content: space-between;
    padding: 0px 10px;
}
.write_up{
    top:30px;
    left: 2px;
    font-size: 11px;
    width: 100%;
}
.write_up h1{
    font-size: 14px;
}
.write_up p{
    padding: 10px 0px;
}
.container{
    height: 250px;
}
.bg-images img{
    width:100%;
    height: 250px;

}
/*about style*/
.about{
    left:30px
}
.about_img{
    flex-direction: column;
    margin: auto;
    padding: 0px 25px;
}
.display_images{
    margin-top: 10px;
}
.show_images{
    margin-top: 10px;
    padding: 0px;
}
.features_img{
   flex-direction: column;
   width: 50%;
   
}
/* LOG IN PAGE*/
 .login_main{
    height: 83vh;
} 

.login_container{
    width: 250px;
    height: 250px;
    margin-top: 40px;
}

.login_input{
  margin-top: 0px;
  }
  .login_input input{
      width:80%;
      margin-top: 10px;
      border-radius: 20px;
      font-size: 15px;
      color: azure;
  }
  /*CONTACT PAGE*/
  .contact_body{
    height:auto;
  }
.contact_main{
    height:83vh ;
  }
 .contact_container{
    width: 300px;
     height: 350px;
    border:solid 1px grey;
    padding: 20px 10px; 
    /* margin: 0px; */
    margin-top:-20px;
  }
  .name h4{
    border-bottom: solid 1px gray;
    width: 50px;
    line-height: 50px;
  }
  .name{
  margin-left: 2px;
  }
  .contact_input .input{
    width: 70%;
    padding-left: 5px;
    }
    .contact_submit{
      margin-top: 10px;
    } 
    #comment{
        color:black;
    }
    .con_intro{
        color: azure;
      font-family: 'Courier New', Courier, monospace;
      width: 250px;
      margin: auto;
      margin-top: 10px;
      }
      /*REGISTER*/
      .register_main{
        height: 83vh;
      }
  }